.logo
{
    width: 50px;
}

.display-4, .lead{


opacity: 1;

}
.jumbotron-fluid{
background: linear-gradient(to right, white, orange);
opacity: .9;

}
.lead{
    opacity: 1;
    color: orangered;   
    font-family: 'ZCOOL XiaoWei', serif;
    
}



.sign{

    color: white;   
    font-family: 'ZCOOL XiaoWei', serif;
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
}

