.logo
{
    width: 50px;
}

.display-4, .lead{

text-align: center;
opacity: 1;

}
.jumbotron-fluid{
background: linear-gradient(to right, white, orange);
opacity: .9;

}
.lead{
    opacity: 1;
    color: orangered;   
    font-family: 'ZCOOL XiaoWei', serif;
    
}



.sign{

    color: white;   
    font-family: 'Jomolhari', serif;
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
    border-style: solid;
    background:linear-gradient(to right,blue, black ) ;

}

.text-muted{
    color:red
}
