.logo
{
    width: 50px;
}

.display-4, .lead{

text-align: center;
opacity: 1;

}
.jumbotron-fluid{
background: linear-gradient(to right, white, orange);
opacity: .9;

}
.lead{
    opacity: 1;
    color: orangered;   
    font-family: 'ZCOOL XiaoWei', serif;
    
}



.sign{
    color: blanchedalmond;
}

.text-muted{
    color:red;
}


p{
    font-size: large;
    font-weight: bold;
  }

  h3, .d-none{
    font-family: 'Fredoka One', cursive;
  }